# Django Config
DJANGO_KEY=SECRET_KEY
DEBUG=BOOL

# MySQL Configuration
DB_NAME=NAME
DB_USER=USER
DB_PASSWORD=PASS
DB_HOST=HOST
DB_PORT=PORT

# Celery & Redis
CELERY_BROKER_URL=URL

# BytePlus ModelArk
BYTEPLUS_MODELARK_API_KEY=API_KEY
BYTEPLUS_MODELARK_BASE_URL=URL
BYTEPLUS_MODEL_ID=ID
MOCK_BYTEPLUS=BOOL
